/* ---MOBILE--- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: #fff;
  font-size: $main-font-size;
  text-align: center;
  font-family: "Open Sans" sans-serif;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: $margin-size;
}

.logo {
  width: 220px;
  .nyt-logo {
    max-width: 100%;
    height: auto;
  }
  &.small-logo {
    transition: $transition-time;
    width: 100px;
  }
}

.choose-a-section {
  margin: $margin-size / 2;
  .sections {
    font-size: $main-font-size;
    background: white;
    margin-bottom: $margin-size;
  }
}

.stories {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  min-width: 100%;
  grid-row-gap: 1rem;
}

.article-block {
  min-width: 100%;
  height: 420px;
  margin: 0 0;
  background-position: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: $transition-time / 2 ease-in-out;

  .article-text {
    position: absolute;
    bottom: 0%;
    text-align: left;
    padding: 5px 10px;
    line-height: 1.5rem;
    background: rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style: none;
    text-decoration: none;
    color: white;
  
    .article-title {
      font-size: $main-font-size;
    }
  
    .article-date {
      font-style: italic;
      display: none;
    }
    .article-detail {
      font-size: $main-font-size;
      display: none;
      margin: $margin-size auto;
      font-weight: 500;
    }
  }

  &:hover {
    transition: $transition-time / 2 ease-in;
    box-shadow:
    inset 20px 0 80px #888888,
    inset -20px 0 80px rgb(69, 102, 102),
    inset 20px 0 300px #888888,
    inset -20px 0 300px rgb(69, 102, 102),
    10px 10px 40px 20px #888888;
    
    transform: translate3d(0, -.5em, .2em);
    z-index: 99;

    .article-text {
      height: 100%;
    }
    .article-date {
      display: flex;
      justify-content: flex-end;
    }
    .article-detail {
      display: flex;
      justify-content: center;
    }
    .article-title {
      margin-top: $margin-size;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.hide {
  display: none;
}

.show {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 10%;
  display: block;
}

footer {
  color: #c2c2c2;
  padding: 40px;
}

@media (min-width: $tablet-width) {
  .site-header {
    flex-direction: row;
  }
  .form{
    transition: $transition-time * 2;
    padding-left: $margin-size;
  }

  .stories {
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    .article-block {
      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    align-items: flex-start;
  }
  .form {
    transition: $transition-time * 2;
    padding-left: $margin-size * 2;
  }
  .stories {
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    .article-block {
      width: 25%;
    }
  }
}